main{
    background-color: #1f1f3348;
    padding: 0.2em;
    border-top: 1px solid purple;
    text-align: center;
    overflow: hidden;
}
.box-title{
    margin-top: 1.5em;
    font-family: sans-serif;
}
.text-about-me {
    max-width: 50%;
    color: rgb(170, 170, 170);
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: center;
    margin: 2em auto;
}
#habilidades{
    margin: 5em;
}
.cards-div{
    width: 100%;
    overflow-x: hidden;
}
.cards-list{
    list-style: none;
    display: flex;
    gap: 12px;
    flex-wrap:wrap;
    justify-content: center;
    margin: 2em;
}
.cards-list li{
    background-color: rgba(20, 19, 24, 0.815);
    border: 2px solid rgb(185, 2, 185);
    box-shadow: 1px 1px 2px 2px rgba(128, 0, 128, 0.178);
    border-radius: 10px;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 8em;
    height: 8em;
    text-align: center;
    gap: 30px;
    transition: all 0.3s ease;
    animation: change 2s ease-in-out infinite alternate;
}
@keyframes change {
    0%{
        border:1px solid rgb(119, 0, 255);
    }
    100%{
        border:1px solid rgb(180, 4, 171);
    }
}
.cards-list span {
    font-size: 0.9em;
    color: rgba(172, 172, 172, 0.801);
}
.cards-list li:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 1px 1px 1px transparent;
    cursor: pointer;
    animation: none;
    border: 1px solid rgb(187, 0, 156);
}